<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
    <link rel="stylesheet" media="screen" href="./css/utils.css">
    <link rel="stylesheet" media="screen" href="./css/index.css">
    <link rel="stylesheet" media="screen" href="./css/questions.css">
    <link rel="stylesheet" media="screen" href="./css/detailedQuestion.css">
    <link rel="icon" href="./resources/images/logo_64.png">
    <title>Question | 404AW</title>
</head>
<body>
    <%- include("header") %>

    <div class="content-body">
        <div class="question-asked">
            <span class="title mb-10">¿Cómo funciona exactamente nth-child?</span>
            <span class="viewed mt-5">Vista 1 veces</span>
            <span class="votes mt-5">0 votos <i class="fa fa-thumbs-up like"></i> <i class="fa fa-thumbs-down dislike"></i></span>
            <div class="question-body mt-10">
                No acabo de comprender muy bien que hace exactamente y qué usos puede tener.
            </div>
            <div class="labels mt-10">
                <span class="label">CSS</span>
                <span class="label">HTML</span>
            </div>
            <div class="user-info">
                <div class="user-profile">
                    <span class="date">Formulada el 5/11/2020</span>
                    <img src="./resources/images/default.png" alt="imagen de usuario" class="user-img">
                    <span class="username-ask">Pedro</span>
                </div>
            </div>
        </div>

        <div class="answers">
            <span class="title mt-10 mb-20">1 respuestas</span>
            <div class="reply">
                <span class="votes mt-5">0 votos <i class="fa fa-thumbs-up like"></i> <i class="fa fa-thumbs-down dislike"></i></span>
                <div class="answer-body mt-10">
                    La pseudoclase :nth-child() selecciona los hermanos que cumplan cierta condicion definida en la formula en +b , a y b deben de ser 
                    numeros enteros, n es un contador.El grupo a representa un ciclo, cada cuantos elementos se repite ; b indica desde donde empezamos a contar.
                </div>
                <div class="user-info mt-10">
                    <div class="user-profile">
                        <span class="date">Formulada el 5/11/2020</span>
                        <img src="./resources/images/default.png" alt="imagen de usuario" class="user-img">
                        <span class="username-ask">Pedro</span>
                    </div>
                </div>
            </div>
            <!-- aqui el resto de respuestas -->
        </div>

        <div class="user-answer">
            <span class="title">Tu respuesta</span>
            <textarea class="form-field mt-10 mb-10" placeholder="Escribe aqui tu respuesta detallada"></textarea>
            <button class="btn btn-primary mb-20">Publicar tu respuesta <i class="fa fa-check-square-o"></i></button>
        </div>
    </div>
</body>
</html>