<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="../css/utils.css">
    <link rel="stylesheet" media="screen" href="../css/index.css">
    <link rel="stylesheet" media="screen" href="../css/questions.css">
    <link rel="stylesheet" media="screen" href="../css/detailedQuestion.css">
    <title>404 |Question</title>
</head>
<body>    
    <header>
        <div id="header">
            <div class="header-element menu">
                <button class="btn btn-primary">Preguntas</button>
                <button class="btn btn-primary">Sin responder</button>
                <button class="btn btn-primary">Usuarios</button>
            </div>
            <img src="../resources/images/logo_512.png" alt="404" class="logo">
            <div class="header-element profile-info">
                <img src="../resources/images/default.png" alt="Perfil" class="profile-img">
                <span class="username">SHAM</span>
                <button class="btn btn-primary">Cerrar Sesion</button>
            </div>
        </div>
    </header>

    <div class="content">
        <div class="search">
            <form action="#" method="POST" class="form-control">
                <button class="btn btn-search">Buscar</button>
                <input type="text" class="form-field" autocomplete="off" placeholder="Buscar por titulo/cuerpo de pregunta">
            </form>
        </div>
    </div> 

    <!-- Le pongo que es la misma clase que en la questions.css -->
    <div class="questions-content">
        <span class="title mt-10 mb-10">¿Cómo funciona exactamente nth-child?</span>
        <div class="questions">
            <span class = "viewed mt-10">Vista 1 veces</span>
            <span class = "votes mt-10 mb-15">0 votos <img src="default" alt="ManiiiitoooArriba"> <img src="default" alt="ManiiiitoooAbajo"> </span>
            <span class = "questionBody mt-10">No acabo de comprender muy bien que hace exactamente y qué usos puede tener.</span>
            <div class="labels">
                <span class="label">CSS</span>
                <span class="label">HTLM</span>
            </div> 
            <div class="info">
                
            </div>
            
        </div>       
               
    </div>

    <div class="reply">

    </div>



</body>
</html>