<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="../css/utils.css">
    <!-- <link rel="stylesheet" media="screen" href="../css/login.css"> -->
    <link rel="stylesheet" media="screen" href="../css/index.css">
    <link rel="stylesheet" media="screen" href="../css/formulate.css">
    <link rel="icon" href="../resources/images/logo_64.png">
    <title>Crear una pregunta | 404</title>
</head>
<body>
    <header>
        <div id="header">
            <div class="header-element menu">
                <button class="btn btn-primary">Preguntas</button>
                <button class="btn btn-primary">Sin responder</button>
                <button class="btn btn-primary">Usuarios</button>
            </div>
            <img src="../resources/images/logo_512.png" alt="404" class="logo">
            <div class="header-element profile-info">
                <img src="../resources/images/default.png" alt="Perfil" class="profile-img">
                <span class="username">SHAM</span>
                <button class="btn btn-primary">Cerrar Sesion</button>
            </div>
        </div>
    </header>

    <div class="content">
        <div class="search">
            <form action="#" method="POST" class="form-control">
                <button class="btn btn-search">Buscar</button>
                <input type="text" class="form-field" autocomplete="off" placeholder="Buscar por titulo/cuerpo de pregunta">
            </form>
        </div>
    </div>  
    
    <div class="main-question">
        <span class="title">Formular una pregunta</span>
        <div class="question-info">
            <form action="#" method="POST">
                <span class="form-title mt-15 mb-0">Titulo</span>
                <span class="form-title explanation">Sé especifico e imagina que estás haciendo la pregunta a otra persona</span>
                <input type="text" class="form-field" placeholder="¿Cuál es tu pregunta sobre programación de aplicaciones web">
                
                <span class="form-title mt-15 mb-0">Cuerpo</span>
                <span class="form-title explanation">Incluye toda la información que alguien necesitaría para responder a tu pregunta</span>
                <textarea class="form-field" placeholder="Escribe aqui tu respuesta detallada"></textarea>

                <span class="form-title mt-15 mb-0">Etiquetas</span>
                <span class="form-title explanation">Añade hasta 5 etiquetas para describir sobre qué trata tu pregunta</span>          
                <input type="text" class="form-field" placeholder="Por ejemplo: @node@express" pattern="^@[a-zA-Z0-9^ ]{5}">
                <div class="btns-question_actions">
                    <button type="submit" class="btn btn-primary mt-15">Publica tu pregunta</button>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>