<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="../css/index.css">
    <link rel="stylesheet" media="screen" href="../css/login.css">
    <title>Iniciar sesión</title>
</head>
<body>
    <header>
        <div id="header">
            <img src="../resources/images/logo_512.png" alt="404" class="logo">
        </div>
    </header>

    <div class="registro">
        <form action="#" method="POST">
            <span class="form-title">Correo electrónico *</span>
            <input type="text" class="">
            <span class="form-title">Contraseña *</span>
            <input type="password">
            <div class="btns-form_login">
                <button>Iniciar sesión</button>
                <button>Crear cuenta</button>
            </div>    
        </form>
    
    </div>
</body>
</html>