<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
    <link rel="stylesheet" media="screen" href="../css/utils.css">
    <link rel="stylesheet" media="screen" href="../css/questions.css">
    <link rel="stylesheet" media="screen" href="../css/index.css"> 
    <link rel="stylesheet" media="screen" href="../css/profile.css"> 
    <link rel="icon" href="../resources/images/logo_64.png">
    <title>Profile | 404</title>
</head>
<body>

    <header>
        <div id="header">
            <div class="header-element menu">
                <button class="btn btn-primary">Preguntas</button>
                <button class="btn btn-primary">Sin responder</button>
                <button class="btn btn-primary">Usuarios</button>
            </div>
            <img src="../resources/images/logo_512.png" alt="404" class="logo">
            <div class="header-element profile-info">
                <img src="../resources/images/default.png" alt="Perfil" class="profile-img">
                <span class="username">SHAM</span>
                <button class="btn btn-primary">Cerrar Sesion</button>
            </div>
        </div>
    </header>
    <div class="content mb-20">
        <div class="search">
            <form action="#" method="POST" class="form-control">
                <button class="btn btn-search">Buscar</button>
                <input type="text" class="form-field" autocomplete="off" placeholder="Buscar por titulo/cuerpo de pregunta">
            </form>
        </div>
    </div>
    <div class="content-info mt-20">
        <div class="logo-name">
            <img src="../resources/images/default.png" alt="Imagen del usuario" class="profile-img">
            <span class="name">SFG</span>
            <span class="member-date">Miembro desde el 1-10-2020</span>
        </div>
        <div class="stats">
            <span class="stats-title">ESRTADISTICAS</span>
            <span>Reputacion</span>
        </div> 
        <div class="medals">
            <span class="medals-title">MEDALLAS</span>
            <div class="bronze">
                <span>BRONCE</span>

            </div>
            <div class="silver">
                <span>PLATA</span>

            </div>
            <div class="gold">
                <span>ORO</span>
            </div>

        </div>       

    </div>


    
</body>
</html>