<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
    <link rel="stylesheet" media="screen" href="../css/index.css">
    <link rel="stylesheet" media="screen" href="../css/utils.css">
    <link rel="stylesheet" media="screen" href="../css/questions.css">
    <link rel="icon" href="../resources/images/logo_64.png">
    <title>Preguntas | 404AW</title>
</head>
<body>
    <header>
        <div id="header">
            <div class="header-element menu">
                <button class="btn btn-primary">Preguntas</button>
                <button class="btn btn-primary">Sin responder</button>
                <button class="btn btn-primary">Usuarios</button>
            </div>
            <img src="../resources/images/logo_512.png" alt="404" class="logo">
            <div class="header-element profile-info">
                <img src="../resources/images/default.png" alt="Perfil" class="profile-img">
                <span class="username">SHAM</span>
                <button class="btn btn-primary">Cerrar Sesion</button>
            </div>
        </div>
        <div class="content-search">
            <div class="search">
                <form action="#" method="POST" class="form-control">
                    <button class="btn btn-search ml-10">Buscar</button>
                    <input type="text" class="form-field" autocomplete="off" placeholder="Buscar por titulo/cuerpo de pregunta">
                </form>
            </div>
        </div>
    </header>

    <div class="content-body">
        <div class="questions-content">
            <span class="title">Todas las preguntas</span>
            <div class="control-panel">
                <span class="number-of-questions">5 preguntas</span>
                <button class="btn btn-primary">Formular una pregunta <i class="fa fa-pencil"></i></button>
            </div>
            <div class="questions">
                <div class="question">
                    <div class="question-info">
                        <span class="title">¿Cual es la diferencia entre position: relative, absolute etc blabla bla?</span>
                        <span class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta quas perspiciatis impedit, cum laudantium facere officiis ratione reprehenderit excepturi dicta.</span>
                        <div class="labels">
                            <span class="label">CSS</span>
                            <span class="label">CSS3</span>
                        </div>
                    </div>
                    <div class="question-user">
                        <span class="date">Formulada el 5/11/2020</span>
                        <img src="../resources/images/default.png" alt="foto de perfil" class="user-img">
                        <span class="username-ask">Pedro</span>
                    </div>
                </div>
                <div class="question">
                    <div class="question-info">
                        <span class="title">Lorem, ipsum dolor sit amet consectetu</span>
                        <span class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta quas perspiciatis impedit, cum laudantium facere officiis ratione reprehenderit excepturi dicta.</span>
                        <div class="labels">
                            <span class="label">AAAA</span>
                            <span class="label">AAAA</span>
                        </div>
                    </div>
                    <div class="question-user">
                        <span class="date">Formulada el 5/11/2020</span>
                        <img src="../resources/images/default.png" alt="foto de perfil" class="user-img">
                        <span class="username-ask">Pedro</span>
                    </div>
                </div>
                <!-- Resto de preguntas -->
            </div>
        </div>
    </div>
</body>
</html>