<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/icon.png" type="image/png">
    <link rel="stylesheet" href="/css/credentials.css">
    <link rel="stylesheet" href="/css/utils.css">
    <title>Iniciar sesión</title>
</head>
<body>
    <header>
        <h1>TAREAS</h1>
    </header>
    <div class="registro">
        <form action="/login" method="POST" class="form-control">
            <span class="form-title">Correo electrónico *</span>
            <input type="email" name="email" class="form-field" autocomplete="off" placeholder="Introduce tu correo electónico...">
            <span class="form-title">Contraseña *</span>
            <input type="password" name="password" class="form-field" autocomplete="off" placeholder="Introduce tu contraseña...">
            <div class="btns-form_login">
                <button class="btn btn-primary">Iniciar sesión</button>
            </div>    
        </form>
    </div>
    <div class="error">
        <% if(errorMsg){ %>
            <%= errorMsg %>
        <% } %>
    </div>
</body>
</html>