<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon by: https://www.flaticon.es/icono-gratis/www_1107589 -->
    <link rel="icon" href="../images/icon.png">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/index.css">
    <!-- JS -->
    <script src="../js/index.js"></script>
    <title>Inicio</title>
</head>
<body>

    <div style="background-color: aquamarine;">
        <button onclick="f()">Welcome!</button>
    </div>

</body>
</html>