*{
    padding: 0;
    margin: 0;
}
html{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #292828;
    font-size: 14px;
    color: #fff;
}

header #header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 10px;
}

#header .logo{
    width: 150px;
}

#header .header-element{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header .header-element.menu button{
    margin: 5px;
    width: 100%;
}

#header .header-element .profile-img{
    border-radius: 50%;
    width: 70px;
}

#header .header-element.profile-info{
    padding-right: 20px;
}

#header .header-element .username{
    text-align: center;
    color: #fff;
    margin: 2px;
}

.content{
    padding-top: 150px;
    /* margin: 5px; */
}

.content .search form{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px;
    /* width: 100%; */
}
.content .search form input.form-field{
    margin: 0 5px;
    /* width: 75%; */ /*pq con form width 100% y este a 75% mete mas ancho a toda la pagina*/
}

.content .search .form-control{
    width: auto;
}