.content-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
}

.content-info .first-row{
    display: flex;
}

/* USER INFO */
.content-info .first-row .user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #575757;
    padding: 10px;
    margin-right: 10px;
    width: 30%;
}
.content-info .first-row .user-info .profile-img,
.content-body .all-users .user-info .profile-img{
    width: 70px;
    border-radius: 50%;
}

/* ESTADISTICAS ==> jugar con align-self */
.content-info .first-row .stats{
    /* display: flex; */
    /* flex-direction: column; */
    width: 70%;
}

.content-info .first-row .stats .stats-info{
    display: flex;
    justify-content: space-around;
    height: 150px;
}
.content-info .first-row .stats .stats-info .rep{
    align-self: flex-start;
    padding: 10px;
}
.content-info .first-row .stats .stats-info .questions,
.content-info .first-row .stats .stats-info .answers{
    align-self: flex-end;
    padding: 10px;
}
.content-info .first-row .stats .stats-info .key{
    display: block;
    font-weight: bold;
    font-size: 14px;
}
.content-info .first-row .stats .stats-info .value{
    display: block;
    font-size: 20px;
}
/* HEADERS AZULES */
.content-info .profile-header{
    text-align: center;
    color: #fff;
    background-color: #1d8096;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
}
.content-info .profile-header::first-letter{
    font-size: 20px;
}

/* MEDALLAS */
.content-info .medals-info{
    display: flex;
}
/* .content-info .medals .bronze-medals,
.content-info .medals .silver-medals,
.content-info .medals .gold-medals{
    
} */


.content-info .medals .medals-info .bronze-medals,
.content-info .medals .medals-info .silver-medals,
.content-info .medals .medals-info .gold-medals{
   width: 33%;
}

.content-info .medals .medals-info .bronze-medals .bronze-title,
.content-info .medals .medals-info .silver-medals .silver-title,
.content-info .medals .medals-info .gold-medals .gold-title{
    text-align: center;
    width: 90%;
    margin :0 auto;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
}

.content-info .medals .medals-info .bronze-medals .bronze-title{
    background-color: turquoise;
}

.content-info .medals .medals-info .silver-medals .silver-title{
    background-color: violet;
}

.content-info .medals .medals-info .gold-medals .gold-title{
    background-color: rgb(255, 123, 0);
}

.content-info .medals .medals-info .title{
    display: block;
}


/* AQUI EL SPAN ES DE TIPO TABLE */
.content-info .medals .medals-info .bronze-medals .detailed-info,
.content-info .medals .medals-info .silver-medals .detailed-info,
.content-info .medals .medals-info .gold-medals .detailed-info{
    background-color: #575757;
    display: table;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
}

/* SI PONGO ESTO EL SPAN ME OCUPA TODA LA LINEA */
.content-info .medals .medals-info .bronze-medals .bronze-info,
.content-info .medals .medals-info .silver-medals .silver-info,
.content-info .medals .medals-info .gold-medals .gold-info{
    /* display: flex;
    flex-direction: column; */
}






/* USER INFO */
/* .content-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    justify-content: center;
}

.content-info .first-row{
    display: flex;
}

.content-info .user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    padding: 20px;
    margin: 10px;
    width: 30%;
}

.content-info .user-info .profile-img{
    border-radius: 50%;
    width: 70px;
} */


/* ESTADISTICAS */
/* .content-info .stats{
    width: 70%;
    display: flex;
}

.content-info .medals{
    display: flex;
}

.content-info .stats .stats-title, 
.content-info .medals .medals-title{
    background-color: #66b0ff;
    display: block;
} */

/* MEDALLAS */