.content-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
}

.content-info .first-row{
    display: flex;
}

/* USER INFO */
.content-info .first-row .user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #575757;
    padding: 10px;
    margin-right: 10px;
    width: 30%;
}
.content-info .first-row .user-info .profile-img{
    width: 70px;
    border-radius: 50%;
}

/* ESTADISTICAS ==> jugar con align-self */
.content-info .first-row .stats{
    /* display: flex; */
    /* flex-direction: column; */
    width: 70%;
}
.content-info .first-row .stats .stats-info{
    display: flex;
    justify-content: space-around;
    height: 150px;
}
.content-info .first-row .stats .stats-info .rep{
    align-self: flex-start;
    padding: 10px;
}
.content-info .first-row .stats .stats-info .questions,
.content-info .first-row .stats .stats-info .answers{
    align-self: flex-end;
    padding: 10px;
}
.content-info .first-row .stats .stats-info .key{
    display: block;
    font-weight: bold;
    font-size: 14px;
}
.content-info .first-row .stats .stats-info .value{
    display: block;
    font-size: 20px;
}
/* HEADERS AZULES */
.content-info .profile-header{
    text-align: center;
    color: #fff;
    background-color: #1d8096;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
}
.content-info .profile-header::first-letter{
    font-size: 20px;
}

/* MEDALLAS */
.content-info .medals{
     
}
.content-info .medals .bronze-medals,
.content-info .medals .silver-medals,
.content-info .medals .gold-medals{
    
}













/* USER INFO */
/* .content-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    justify-content: center;
}

.content-info .first-row{
    display: flex;
}

.content-info .user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    padding: 20px;
    margin: 10px;
    width: 30%;
}

.content-info .user-info .profile-img{
    border-radius: 50%;
    width: 70px;
} */


/* ESTADISTICAS */
/* .content-info .stats{
    width: 70%;
    display: flex;
}

.content-info .medals{
    display: flex;
}

.content-info .stats .stats-title, 
.content-info .medals .medals-title{
    background-color: #66b0ff;
    display: block;
} */

/* MEDALLAS */