
body{
    font-family: 'Poppins', sans-serif;
    background-color: #292828;
    font-size: 14px;
    color: #fff;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.registro{
    display: flex;
    align-items: center;
    justify-content: center;
}

.registro .btns-form_login{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.registro .btns-form_login button{
    margin: 2px;
}

.error{
    text-align: center;
    margin-top: 25px;
    color: red;
}