
.content-body .tag-content {
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.content-body .tag-content {
    text-align: center;
}
.content-body .content-search{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.content-body .content-search .search .form-field {
    width: 20%;
}
.content-body .tagFilter{
    display: flex;
   justify-content: center;
   align-items: center;
}

.content-body .infoTags{
    display: grid;
    /* border: 2px solid yellow; */
    grid-template-columns: 20% 20% 20%;    
    column-gap: 10px;
    row-gap: 15px;    
    justify-content: center;
    align-items: center;
    text-align: center;
    margin :0 auto;
    padding-top: 20px;
}

.content-body .infoTags .tagView {
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    border: 1px solid white;
    box-shadow: 2px 2px 10px rgb(221, 223, 135);
}

.content-body .infoTags .tagView .label {
    font-size: 10px;
    font-weight: bold;
    color: #35495e;
    background-color: #66b0ff;
    padding: 2px 5px;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
}

.content-body .infoTags .tagView .questionNumber{
   padding: 10px;
   color: yellow;
}